*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background:#1a1a1a;
}
#container{
	width: 80%;
	height: 100vh;
	margin: 0 auto;
}
h1{
	color:#fff;
	font-weight: lighter;
	padding-top:4%;
	text-align: center;
}
#wrapper{
	margin-top: 5%;
}
input{
	color:#fff;
	margin-left: 30%;
	width: 20%;
	padding: 10px 20px;
	border-radius: 3%;
	background:#000;
}
select{
	width:20%;
	font-size:20px;
	color:white;
	background-color: black;
	margin-left: 10px;
}
.conversion-value{
	visibility: hidden;
}
.unit{
	width: 40%;
	padding: 3%;
	margin:0 auto;
	background:#1a7fc5;
	margin-top: 2%;
	border-radius: 2%;
}
@media all and (max-width: 599px) {
	#container{
		width: 100%;
	}
	input{
		margin-left: 5%;
		width:70%;
	}
	select{
		margin-top:2%;
		margin-left: 50%;
		width:50%;

	}
	.unit{
		width: 80%;
	}
}