body {
    font-family: monospace;
    height: 100vh;
    color: #aaa;
    background: #333;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.txt-container > .txt {
    border-right: 0.2rem solid #777;
    animation: blink .80s step-end infinite;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }
    15% {
        border-color: orange;
    }
}

h1 {
    font-size: 5rem;
}

txt @media(min-width:1200px) {
    h1 {
        font-size: 7rem;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 3rem;
    }
}
