*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: antiquewhite;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.keys{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
}
.key{
    flex-grow: 1;
    width: 10rem;
    border-radius: 0.5rem;
    margin:1rem;
    transition: all 0.07s;
    padding: 1rem 0.5rem;
    text-align: center;
    background: rgba(172, 41, 41, 0.75);
    border-bottom: 0.5rem solid #432323;
}
.sound-name{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.playing{
    transform: scale(1.25);
    background: #e6ce49;
    border-bottom: 0.5rem solid #988708;
}
kbd{
    display: block;
    font-size: 1.25rem;
}
@media screen and (max-width:414px){
    body{
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .key{
        width: 3rem;
    }
    .keys{
        grid-template-columns: 5rem 5rem 5rem;
    }
    kbd{
        font-size: 1rem;
    }
    .sound-name{
        font-size: 0.5rem;
    }
}
