*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
div{
  transition: all ease .5s;
  font-size: 1.2rem;
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
}
.container{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:80%;
  color:#004355;
}
.tabs{
  border:2px solid #09a5c1;
  border-bottom: 0px;
  display: inline-block;
  margin:0px;
  padding: 0.5rem;
  border-right: 2px solid #09a5c1;
  cursor: pointer;
}
.tab-container{
  overflow: hidden;
  position: relative;
  border-top: 2px solid #09a5c1;
  border-radius: 0.1rem;
}
.tab-content{
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  width: 100%;
  border-top: 0px;
  border: 2px solid #09a5c1;
  border-top: 0px;
  padding: 2rem;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.tab-content:first-child{
  position: relative;
}
.tab-content.curr-content{
  display: block;
  transform: translateY(0%);
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
}
.curr-tab{
  background: #09a5c1;
}
