*{
    margin: 0;
    padding: 0;
}
body{
    background: #f0f0f0;
}
header{
    width: 100%;
    text-align: center;
    background: #2e316f;
    padding: 10px 0px;
    color: whitesmoke;
}
#container{
    width:50%;
    height: 200px;
    margin:10% auto;
    border-radius: 10px;
    color:#53567e;
}
#quote{
    text-align: center;
    font-size: 150%;
    
}
#writer:before{
    content: "-";
}
#writer{
    text-align: right;
    padding-top: 2%;
    padding-right:5%; 
}
#links{
    width:100%;
    margin:0 auto;
    text-align: center;
}
#generator{
    text-decoration: none;
    color:white;
    background: #f72942;
    padding: 1%;
    border-radius: 5px;
}
#tweet{
    text-align: center;
    width:5%;   
    height: 5%;
    padding: 3%;
    margin: 0 auto;
}
#tweet img{
    max-height: 100%;
    max-width: 100%;
}
@media screen and (max-width:414px){
    #container{
        width: 90%;
    }
    #links{
        position: fixed;
        bottom: 25%;
    }
    #generator{
        padding: 4%;
        position: relative;
    }
}